# RAT configuration files
build
env.sh
env.csh
include/RAT
include/local_g4version.hh
*.pyc
.sconsign
.sconsign.dblite
.sconf_temp
lib
bin
config.log
src/core/config.hh
# Eclipse aux files
.cproject
.project
.pydevproject
.settings

*~
