# RAT configuration files
build
env.sh
env.csh
include/RAT
include/local_g4version.hh
*.pyc
.sconsign
.sconsign.dblite
.sconf_temp
lib
bin
config.log
src/core/config.hh
root_files
# Eclipse aux files
.cproject
.project
.pydevproject
.settings

# Personal addition
rootfiles
watchman_supernova.root
*.log
*.root
.DS_Store
*.gif
*.mac
tools/*.py
open.sh
SCRATCH
fixDynamicLink.py
